git+https://github.com/nathanrchn/perplexityai.git
Pillow==9.3.0
PyMuPDF==1.21.1
requests==2.25.1
streamlit==1.25.0
tika==2.6.0
websocket-client==1.4.2
simplejson==3.19.1
ujson==5.7.0
xmljson==0.2.0
jsonpointer==2.3
jsonschema==3.2.0
ijson==3.2.0.post0
fastjsonschema==2.16.2


